.container {
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 10%;
  }
  
  .containerPpal {
    background-color: #ab91a2;
  }
  
  .ppal {
    font-weight: 900;
    font-size: 5rem;
    border: #161616;
    color: #e3e4db;
    display: flex;
    justify-content: center;
    align-items: center;
      a{
          color: #161616;
          text-decoration: none;
      }
      a:hover{
          color: #161616;
          text-decoration: underline;
      }
  }

  .bloque2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
  } 

  #about {
    background-color: #E3E4DB;
  }