@import "./variables";

@import "./navBar";
@import "./footer";
@import "./container";

body {
  font-family: $primaryFont;
  margin: 0;
}

a:hover{
    color: #ab91a2;
}

h2{
  font-size: 3rem;
}

.foto {
  width: 50%;
  height: auto;
}

